.idea/*
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
__pycache__/*
데이터분석과처리_파이썬 기초